body{
	background-color: #000000;
	margin: 0;
}

.opening img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.opening {
	background-image: url("https://raw.githubusercontent.com/vtex/academy/master/img/snow_on_pines_3_wallpaper_background_hd.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-position: top;
	vertical-align: middle;
	padding-bottom: 395px;
	padding-top: 75px;
}

.opening h1{
	padding-top: 70px;
	margin-bottom: 100px;
}

div.container{
	height: 190px;
	width: 190px;
	border: 6px;
	
	border-color: #17E474;
	border-style: solid;

	margin: auto;
	margin-top: 60px;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	line-height: 2px;
}

div.date p{
	margin: auto;
	margin-top: -10px;

	font-style: italic;
	font-weight: bold;

	line-height: 66px;
	font-size: 66px;
}

div.about{
	width: 580px;
	height:650px;

	font-size: 28px;
	font-variant: small-caps;
	font-style: italic;
	font-weight: bold;
	margin: auto;
}

div.button{
	width: 390px;
	height: 80px;

	background-color: #703DF3;
	border-radius: 22px;

	margin: auto;

	font-size: 28px;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
	margin-top: 100px;
	margin-bottom: 60px;
}

.button span {
	line-height: 80px;
	text-align: center;
}

h1{
	font-family: 'libertad', Open Sans;
	font-style: italic;
	font-size: 154px;
	text-align: center;
	color: #17E474;
	margin-top: 0;
	margin-bottom: 0;
}

h2{
	font-family: 'libertad', Open Sans;
	font-style: italic;
	font-size: 65px;
	text-align: left;
	color: #17E474;
	margin-left: 0.5em;
}

h3{
	font-family: 'libertad', Open Sans;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	color: #17E474
}

p{
	font-family: 'libertad', Open Sans;
	font-style: light;
	text-align: center;
	color: #17E474
}

table, td{
	font-family: 'libertad', Open Sans;
	font-style: light italic;
	font-size: 26px;
	text-align: left;
	color: #17E474;
	margin: auto;

}

table, li {
	list-style-type: none;
}

.tableleft, .tableright {
	max-width: 700px;
}

.table{
	width: 1980px;
	height: 600px;
	display: initial;
	margin: auto;
}

.bigfoot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.summeracademy {
	background-color: #FAC95D;
}

.summeracademy h2 {
	color: #E53547;
	text-align: center;
	font-size: 50px;
	padding-top: 40px;
}

.summeracademy p {
	text-align: center;
	color: #E53547;
	max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
}

.summers {
	color: #E53547;
	font-family: 'libertad', Open Sans;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 10px;
}

.blogposttitle {
	color: #E53547;
	font-family: 'libertad', Open Sans;
	font-weight: normal;
	font-size: 0.9em;
	padding-bottom: 20px;
}

.wrap {
	text-align: center;
}

.wrap ul li {
   display:inline-block;
   margin-right: 10px;
}

.wrap .circle {
	width: 150px;
 	height: 150px;
	border-radius: 100px;
 	position: relative;
 	border: 4px solid #E53547;
 	margin-bottom: 15px;
}

a { 
	text-decoration: none;
}