body{
	background-color: #000000;
	margin: 0;
}
div.opening{
	background-image: url("https://41.media.tumblr.com/8d8f1adf646bec1a9f916c3cb6881361/tumblr_nn4kjfenKc1qdcwh9o1_1280.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-position: top;
	vertical-align: middle;
	width: 1920px;
	height: 600px;
	padding-top: 190px;
}

div.container{
	height: 150px;
	width: 150px;
	border: 5px;
	
	border-color: #17E474;
	border-style: solid;

	margin: auto;

}

span.date{
	font-family: 'libertad', Open Sans;
	font-style: bold italic;
	font-size: 48px;
	line-height: 24px;
	vertical-align: middle;
}

h1{
	font-family: 'libertad', Open Sans;
	font-style: italic;
	font-size: 100px;
	text-align: center;
	color: #17E474;
	margin-top: 0;
	margin-bottom: 0;

}

h2{
	font-family: 'libertad', Open Sans;
	font-style: italic;
	font-size: 28px;
	text-align: center;
	color: #17E474
}

h3{
	font-family: 'libertad', Open Sans;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	color: #17E474
}

p{
	font-family: 'libertad', Open Sans;
	font-style: light;
	font-size: 18px;
	text-align: center;
	color: #17E474
}

li{
	font-family: 'libertad', Open Sans;
	font-style: light italic;
	font-size: 14px;
	text-align: center;
	color: #17E474;
}


