/*----------  General  ----------*/
body {
  font-family: 'petala-pro', Helvetica;
  margin: 0;
  color: #341B5D;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 4.5em;
  font-weight: 200;
}
h2 {
  font-size: 3em;
  margin-bottom: 20px;
  line-height: 1.2em;
}
h3 {
  line-height: 1.4em;
  font-size: 2em;
  margin-bottom: 40px;
}
h4 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 60px;
  font-weight: 600;
}
h5 {
  padding-bottom: 20px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}
p {
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 200;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #FB7B89;
  text-decoration: none;
}
.container-fluid {
  max-width: 1400px;
}
.opening h1 {
  padding: 0px 0 10px;
}
.vtexlabicon {
  position: absolute;
  top: 8vh;
}
.vtexlabicon img {
  width: 150px;
  height: 150px;
}
.main-heading {
  position: absolute;
  top: 38vh;
  color: #fff;
}
.main-heading h1 {
  text-align: left;
  padding-left: 0px;
  padding-right: 20px;
}
.main-heading h1 span {
  display: block;
}
.mega-title {
  margin-bottom: 60px;
  text-transform: uppercase;
}
.sub-title {
  font-size: 0.45em;
  font-weight: 600;
  text-align: left;
  margin-top: -40px;
  padding-top: 0px;
}
.opening-btn {
  margin-left: 30px;
  position: absolute;
  top: 30vh;
}
.box {
  height: 190px;
  width: 190px;
  border: 6px;
  color: #EE7937;
  border-style: solid;
  margin: auto;
  margin-bottom: 70px;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 2px;
}
.box h4 {
  text-align: center;
  font-weight: bold;
}
.date p {
  margin: auto;
  margin-top: -10px;
  font-style: italic;
  font-weight: bold;
  line-height: 66px;
  font-size: 66px;
}
/*----------  Content  ----------*/
.about {
  padding: 150px 0;
  font-weight: 400;
  color: #fff;
  background-color: #130024;
}
.nitty-gritty {
  background-color: #fff;
  text-align: left;
  padding: 150px 0;
}
.nitty-gritty ul {
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 200;
  padding-left: 0;
}
.nitty-gritty p {
  font-size: 1.8em;
  max-width: 820px;
  font-weight: normal;
  margin-left: 0;
  margin-top: 20px;
}
.subscribe {
  padding: 150px 0;
  text-align: center;
  font-weight: 400;
  color: #fff;
  background-color: #341B5D;
  background-image: url("../images/texture.png");
  background-size: cover;
}
.testimonials {
  font-weight: 400;
  padding-bottom: 150px;
  background-color: #fff;
}
.testimonials h4 {
  padding-bottom: 50px;
}
.button {
  width: 390px;
  height: 80px;
  background-color: #FB7B89;
  border-radius: 40px;
  color: #FFF;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 75px;
  text-transform: uppercase;
  transition: all 0.3s, transform 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
}
.button a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.button:hover {
  background-color: #FFF;
  box-shadow: inset 0 0 0 4px #FFF;
}
.button:hover a {
  color: #341B5D;
  transition: all .3s;
}
.btn-secondary {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
  font-size: 20px;
  width: 250px;
  height: 56px;
  line-height: 54px;
  font-weight: 600;
  margin-top: 60px;
  margin-left: 0;
}
.btn-secondary a {
  color: #FB7B89;
}
.btn-main-cta {
  margin-top: 60px;
}
.btn-secondary:hover {
  background-color: #341B5D;
  box-shadow: inset 0 0 0 4px #341B5D;
}
.btn-secondary:hover a {
  color: #FFF;
  transition: all .3s;
}
.intern {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.card {
  -webkit-box-shadow: 0px 6px 23px -8px rgba(107, 107, 107, 0.71);
  -moz-box-shadow: 0px 6px 23px -8px rgba(107, 107, 107, 0.71);
  box-shadow: 0px 6px 23px -8px rgba(107, 107, 107, 0.71);
  border-radius: 10px;
}
.intern-round {
  width: 100%;
  border-radius: 50%;
  position: relative;
}
.quote-comp {
  display: flex;
  align-items: center;
  padding: 0 0 80px 0;
  font-weight: 400;
  background-color: #fff;
}
.name {
  padding: 0;
  margin: 0;
}
.photo-grid {
  background-color: #fff;
  padding-top: 50px;
}
iframe {
  margin-top: 10px;
  border: solid 10px #fff;
  width: 100%;
}
/*----------  Past Academy  ----------*/
.past-academy {
  padding: 150px 0 150px;
  background-color: #fff;
}
.past-academy h4 {
  padding-top: 150px;
}
.medium {
  text-align: left;
  padding: 0 15px 15px 15px;
  margin-bottom: 30px;
}
.medium p {
  margin: 0;
  font-size: 1.3em;
}
.about-vtex {
  padding: 150px 0;
  font-weight: 400;
  color: #fff;
  background-color: #FB7B89;
}
/*----------  Footer  ----------*/
footer {
  background-color: #341B5D;
  height: 55px;
}
footer .vtexicon {
  width: 90px;
  margin: 0 auto;
  padding-top: 16px;
  display: block;
  opacity: .1;
}
/*----------  Responsive  ----------*/
@media (max-width: 1300px) {
  .container-fluid {
    max-width: 1100px;
  }
}
@media (max-width: 992px) {
  .main-heading h1 {
    font-size: 6em;
  }
  .vtexlabicon {
    top: 0vh;
  }
  .main-heading {
    top: 25vh;
  }
  .about-vtex {
    padding-bottom: 100px;
  }
  .quote {
    padding-bottom: 0;
  }
  .benefits {
    padding: 100px 0 0 15px;
  }
  iframe {
    height: 500px;
  }
  ul {
    margin-left: 15px;
  }
}
@media (max-width: 750px) {
  h3 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 3em;
  }
  li {
    margin-bottom: 0;
  }
  p {
    font-size: 1.4em;
  }
  .intern-round {
    margin-bottom: 30px;
  }
  .main-heading h1 {
    font-size: 3.8em;
  }
  .main-heading {
    top: 25vh;
  }
  .vtexlabicon {
    top: -4vh;
  }
  .opening-btn {
    top: 45vh;
    margin-left: 0;
  }
  .about {
    padding: 100px 0;
  }
  .nitty-gritty {
    padding: 100px 0;
  }
  .past-academy h4 {
    padding: 100px 0 0;
  }
  .photo-grid {
    padding: 0 0 0;
  }
  .testimonials {
    padding: 0 0 100px;
  }
  .about-vtex {
    padding: 100px 0 100px;
  }
  .quote h2 {
    font-size: 2em;
  }
  .quote-comp {
    display: block;
  }
  iframe {
    height: 500px;
  }
}
@media (max-width: 550px) {
  iframe {
    height: 250px;
  }
  .nitty-gritty h2 {
    font-size: 1.6em;
  }
  .nitty-gritty li {
    font-size: 0.8em;
    width: 95%;
  }
}
@media (max-width: 511px) {
  .bigfoot {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 400px) {
  .button {
    font-size: 1.6em;
    width: 90%;
    height: auto;
  }
}
@media (max-width: 290px) {
  .main-heading h1 {
    font-size: 2.8em;
  }
  .vtexlabicon img {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .nitty-gritty h2 {
    margin-top: 30px;
  }
}
/*----------  Animation  ----------*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*----------  Hero  ----------*/
#hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
#hero-mobile {
  display: none;
  background: url("../images/background_summer.jpg") no-repeat center bottom / cover;
  height: 100vh;
}
#hero,
.layer {
  min-height: 100vh;
}
.layer-bg {
  background-image: url("../images/background_summer_bg.jpg");
}
.layer-1 {
  background-image: url("../images/background_summer_1.png");
  background-position: left bottom;
}
.layer-2 {
  background-image: url("../images/background_summer_2.png");
}
.layer-3 {
  background-image: url("../images/background_summer_3.png");
  background-position: right bottom;
}
.layer-4 {
  background-image: url("../images/background_summer_4.png");
}
@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  #hero-mobile {
    display: block;
  }
}
