@import "bower_components/bootstrap/less/bootstrap";
@import "vtex-variables";
@import "elements.less";
@import "bower_components/bootstrap/less/grid.less";

body {
	font-family: @main-font;
}

.opening {
	background: @academy-orange url(../img/summer_academy_01.jpg) no-repeat center bottom;
	background-size: cover;
	padding: 60px 0 30px;
	// min-height: 70vh;
	color: #fff;
	.square {
		border-style: solid;
		border-width: 15px;
		border-color: white;
		margin-top: 60px;
		@media (max-width: 767px) {
			width: 250px;
			margin: 0 auto;
		}
	}
	h1 {
		font-family: "proxima-nova";
		font-weight: 900;
		font-size: 100px;
		text-align: justify;
		line-height: 1;
	}
}
.introduction {
	background-color: @academy-orange;
	.summer_sun {
		position: absolute;
		//float: left;
		max-width: 450px;
		margin-left: -20px;
		@media (min-width: 1200px) {
			width: 25%; 
		}
	}
	.description {
		h2 {
			font-weight: 700;
			font-size: 110px;
			color: @academy-text;
			margin-bottom: 40px;
		}
		p {
			font-family: "proxima-nova";
			font-weight: 400;
			color:  @academy-text;
			font-size: 22px;
			float: center;
		}
		a:link {
			text-decoration: underline;
			color: @academy-text;
		}
		a:visited {
			text-decoration: underline;
			color: @academy-text;
		}
		a:hover {
			text-decoration: underline;
			color: #fff;
		}
		margin-top: 90px;
		margin-bottom: 60px;
		margin-left: none;
	}
}

.info{
	background-color: @academy-orange;
	h2 {
		font-weight: 700;
		font-size: 110px;
		color: @academy-text;
		margin-bottom: 40px;
	}
	li {
		font-weight: 400;
		color: @academy-text;
		font-size: 20px;
		margin-bottom: 7px;
	}
	ul {
		margin-bottom: 120px;
	}
}

.intern {
	background-color: @academy-orange;
	padding-bottom: 60px;
	h2 {
		color: @academy-text;
		font-size: 110px;
		margin-bottom: 40px;
		font-weight: 700;
	}
	img {
		margin-top: 40px;
	}
	.circle {  
    width: 200px;  
    height: 200px;  
    border-radius: 100px;  
    position: relative;
    border: 5px solid white;
	}
	h4 {
		margin-top: 20px;
		color: @academy-text;
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 60px;
	}
}

.registrations {
	background: @academy-text;
	.register {
		h2 {
			color: #fff;
			font-weight: 700;
			font-size: 110px;
			margin-top: 100px;
			margin-bottom: 40px;
		}
		h3 {
			font-weight: 700;
			font-size: 50px;
			color: #fff;
		}
		p {
			font-size: 25px;
			color: #fff;
		}
	}
}

.btn-go-to {
	background-color: white;
	margin-top: 120px;
	margin-bottom: 90px;
	font-size: 30px;
	color: @academy-text;
	padding: 15px 35px;
	border-radius: 0;
	&:hover {
		color: #fff;
		background-color: @academy-text;
	}
}

.btn-lab {
	background-color: @academy-text;
	margin-bottom: 120px;
	font-size: 20px;
	color: white;
	padding: 15px 35px;
	border-radius: 0;
	&:hover {
		color: @academy-text;
		background-color: white;
	}
}

.btn-register {
	margin-top: 40px;
	&:hover {
		color: @academy-text;
		background-color: @academy-orange;
	}
}

@media (max-width: 991px) {
	.intern h2 {
		font-size: 90px;
		line-height: 1.1;
	}
}

@media (max-width: 767px) {
	.info h2 {
		font-size: 90px;
	}
	.square h1,
	.intern h2,
	.registrations .register h2 {
		font-size: 65px;
		line-height: 1.1;
	}
}

@media (max-width: 535px) {
	.intern h2 {
		font-size: 55px;
	}
}

@media (max-width: 450px) {
	.info h2 {
		font-size: 75px;
	}
	.intern h2 {
		font-size: 48px;
	}
	.registrations .register h2 {
		font-size: 55px;
		line-height: 1.1;
	}
}
