//
// Variables
// --------------------------------------------------

@vtex-blue:   			#004673;
@vtex-orange:   		#FF7F22;
@vtex-blue-light:   	#003761;
@vtex-green-light:   	#00fff7;

//Mixins
.vtex-transition(){
	.transition(~"all .4s, transform .4s cubic-bezier(0.34,1.61,0.7,1)");
}